{% extends 'website/base.html' %}
{% block body %}
<div class="container-fluid">
    <!-- <h2 class="pt-5">My Portfolio</h2> -->
    {% load static %}
    <div class="row pt-2 pb-2 aligner">
        <div class="col-6 col-md-4">
            <a href="https://github.com/minielectron">
                <img class="round" src="{% static 'website/me.jpg'%}" alt="My picture" title="Prakash sharama"
                    height="50%" width="50%" />
            </a>
        </div>
        <div class="col-6 col-md-6">
            <h6 style="color:rgb(138, 138, 138);"><span style="color:black;font-weight: bold;">Hi, I'm Prakash Sharma.</span> <br>I'm an expert android
                application
                and website developer, checkout my awesome projects.</h6>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        {% for project in projects %}
        <div class="col-4">
            {% if project.action_url %}
            <h1>{{project.title}}</h1>
            <p>{{project.description|truncatechars:100 }}</p>
            <a href="{{project.action_url}}" target="_blank">
                <img src="{{project.image.url}}" height="150px" width="300px" } />
            </a>
            {% else %}
            <img src="{{project.image.url}}" height="150px" width="300px" />
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}