{% extends 'website/base.html' %}
{% block body %}
    <h1>My Portfolio</h1>
    {% load static %}
    <div class="d-flex justify-content-center">
    <img
        class="rounded"
        src="{% static 'website/me.jpg'%}"
        alt="My picture"
        title="Prakash sharama"
        height="300px"
        width="300px"
    />
    </div>
    <div class="d-flex justify-content-center">
        <h2 style="text-align: center; width: 60%; margin-top: 20px; color:coral;">Prakash is expert in android application and website developments, check my awesome projects below</h2>
    </div>

    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            {% for project in projects %}
            <div class="col-4">
                {% if project.action_url %}
                    <h1>{{project.title}}</h1>
                    <p>{{project.description|truncatechars:100 }}</p>
                    <a href="{{project.action_url}}" target="_blank">
                        <img src="{{project.image.url}}" height="150px" width="300px"}/>
                    </a>
                {% else %}
                    <img src="{{project.image.url}}" height="150px" width="300px" />
                {% endif %}                     
            </div>
            {% endfor %} 
        </div>
    </div>
{% endblock body %}
